@using MvcCv.Models.Entity
@model List<Tbl_Yeteneklerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string renk = "";}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"><b>Yetenek Listem</b></h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Oran >= 0 && item.Oran <= 50)
                                            {
                                                renk = "progress-bar bg-danger";
                                            }
                                            if (item.Oran > 50 && item.Oran <= 75)
                                            {
                                                renk = "progress-bar bg-warning";
                                            }
                                            if (item.Oran > 75 && item.Oran <= 84)
                                            {
                                                renk = "progress-bar bg-primary";
                                            }
                                            if (item.Oran > 84 && item.Oran <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                            }
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Yetenek</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="progress progress-xs flex-grow-1 mr-2">
                                                            <div class="@renk" style="width:@(item.Oran)%"></div>
                                                        </div>
                                                        <span class="oran-yazi">@item.Oran%</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="btn btn-outline-info btn-sm" href="/Yetenek/YetenekDuzenle/@item.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Düzenle
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-outline-danger btn-sm" href="/Yetenek/YetenekSil/@item.ID">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <br />
                                <a href="/Yetenek/YetenekEkle/" class="btn btn-outline-primary btn-sm">+ Yeni Yetenek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

